<h2 class="style-title">Nouvelle collection</h2>
<%= form_with model:@collection do |f| %>
  <%= f.text_field :name, label: false, class: "input-form" %>
  <div class="actions-save">
    <%= link_to "â† Retour", collections_path, class: "btn-action" %>
    <%= f.submit "Sauvegarder", class: "btn-action" %>
  </div>
<% end %>
