<%= form_with model: [collection, category] do |f| %>
  <div class="select-form">
    <%= f.select :name, options_for_select(Category::NAME) %>
  </div>
  <div class="actions-save">
    <%= link_to "â† Retour", collections_path, class: "btn-action" %>
    <%= f.submit "Sauvegarder", class: "btn-action" %>
  </div>
<% end %>
