<div class="home-banner">
  <div class="home-infos">
    <h1>CAPSULE</h1>

    <div class="">
      <% if current_user  %>
        <div class= "btn-capsule">
          <%= button_to "Commencer", root_path, class: "btn-devise" %>
        </div>
        <%= link_to "Déconnexion", destroy_user_session_path, class: "btn-delete", html5: true, data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vous déconnecter ?" } %>
      <% else %>
        <div class= "btn-capsule">
          <%= button_to "Connexion", new_user_session_path, class: "btn-devise" %>
        </div>
      <% end %>

    </div>


  </div>
</div>
