<div class="home-banner">
  <div class="home-infos">
    <h1>CAPSULE</h1>

    <div class="wrapper">
      <% if current_user  %>
        <%= button_to "Commencer", root_path %>
        <%= button_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vous déconnecter ?" } %>
      <% else %>
        <%= button_to "Connexion", new_user_session_path  %>
      <% end %>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>


  </div>
</div>
